*{
    padding: 0;
    margin: 0;
}
.container{

    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: repeat(3,2fr);
}
.item{
grid-column-start: 1;
grid-column-end: 2;
color: rgb(160, 75, 23);
 background-color: rgb(228, 209, 209);
text-align: center; 
padding: 50px;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 4;

     color: aqua; 
     background-color: bisque;
}
@media screen and (min-width:300px) and (max-width:768px) {
    .item{
        width: 600px;
        padding: 112px;
        
    }
    .item2{
        display: none;
    }
    .item3{
        display: none;
    }
}
footer{
    text-align: center;
    grid-row-start:3 ;
    grid-column-start: 1;
    grid-column-end:6 ;
    width: 100%;
    height: 43px;
     color: rgb(12, 13, 13); 
     /* background-color: rgb(18, 17, 17); */
}
